html {
    height: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
.analyzer-box h2 {
    margin: 0 0 30px;
    position: absolute;
    top: 120px;
    left: 580px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.analyzer-box .box{
    position: relative;
}

.box input {
    width: 102%;
    padding: 3px 0;
    font-size: 12px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box label{
    position: absolute;
    color: white;
    top: 5%;
    left: 40%;
    width: 100px;
    padding: 10px 0;
}

.box .pred{
    position: absolute;
    display: block;
    width: auto;
    color: white;
    background: linear-gradient(165deg, transparent, #1db5bd);
    top: 200px;
    left: 90px;
    animation: btn-anim1 2.5s linear infinite
}

@keyframes btn-anim1 {
    0% {
      left: -23%;
    }
    80%,100% {
      left: 23%;
    }
  }

.box button {
    position: absolute;
    display: block;
    animation: btn-anim2 0s linear infinite;
    color: white;
    background:linear-gradient(46deg, transparent, #1db5bd);
}